#title {
    background-color: #F26522;
}

@media only screen and (min-device-width: 480px) {

    #title {
        background-image: url('../img/fight/fight-prototype-01.jpg');
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: 0% 50%;
    }

}